@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed&display=swap');

.navbar {
    background-color: #cc5500;

}

.navbar-brand {
    color: white;
    font-family: "sans condensed" sans-serif;
    font-size: 30px;
    margin: auto;
}

.nav-fill{
    background-color: #a9a9a9;
}

.nav-link {
    color: white;
}


.nav-link:hover {
    color: #cc5500;
}


#hero-image {
    height:400px;
    width: 100%;
    background-image: no-repeat center center;
    animation-name: image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height:400px;
    width: 100%;
    overflow: hidden;
}

@keyframes image-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
   }
}

#cover-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: White;
    transform: translate(-50%, -50%);
}

.testimonials{
    padding-top: 50px;
    text-align: center;
    color: #cc5500;
    font-size: 25px;
}

.three-bar{
    height: 400px;
    width: 150%;
    background-image: no-repeat;
    display: block;
}

#options div .col-md{
    width: 100%;
    clear: both;
    height: 150%;
    border-style: solid;
    border-width: 2px;
    color: #cc5500;
    text-align: absolute;
}

.col-sm{
    padding-top: 10px;
    padding-bottom: 50px;
    text-align: center;
    color: #cc5500;
    font-size: 18px;
}

hr{
    display:block;
    margin-top: 3em;
    margin-bottom:3em;
    margin-left: auto;
    margin-right: auto;
}

footer {
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #cc5500;
}

.social-media{
    text-align: center;
}

.social-media li{
    display: inline;
}

.social-media i{
    color: white;
    font-size: 250%;
    padding: 2.5%;
}

