@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

/* Navigation Menu*/

.navbar {
    background-color: #cc5500;
    height: 130px;
}

.logo{
    position: absolute;
    top: 12px;
    left: 600px;
}

.navbar-brand {
    margin: auto;
}

.nav-fill{
    background-color: #a9a9a9;
}

.nav-link {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 22px;
}


.nav-link:hover {
    color: #cc5500;
}

.badge{
    background-color: #a9a9a9;
    color: white;
    font-size: 26px;
    font-family: 'Open Sans Condensed', sans-serif;
    position: absolute;
    top: 16px;
    left: 16px;
    border: 1px solid white;
}

.badge:hover{
    background-color: white;
    color: #cc5500;
    font-size: 28px;
    border: 1px solid #a9a9a9;
}


/* Hero Shot */

#hero-image {
    height:600px;
    width: 100%;
    animation-name: image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height:600px;
    width: 100%;
    overflow: hidden;
}

@keyframes image-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
   }
}

#cover-text {
    text-align: left;
    position: absolute;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    top: 50%;
    left: 30%;
    color: white;
    transform: translate(-50%, -50%);
}

/* Testimonials */

.testimonials{
    padding-top: 50px;
    text-align: center;
    color: #cc5500;
    font-family: 'Open Sans Condensed', sans-serif;
}

#testimonial-text{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
}

#testimonial-text-two{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
}

/* Promo Images */

.three-bar{
    height: 400px;
    width: 200%;
    object-fit: cover;
}

#options div .col-md{
    width: 100%;
    clear: both;
    height: 150%;
    text-align: center;
    color: #cc5500;
    font-family: 'Open Sans Condensed', sans-serif;
}

.col-sm{
    padding-top: 10px;
    padding-bottom: 50px;
    text-align: center;
    color: #cc5500;
    font-size: 18px;
}

/* Headings */

.heading-orange { /* Timetable & Personal Trainers */
font-family: 'Open Sans Condensed', sans-serif;
font-weight: bold;
color: #cc5500;
font-size: 60px;
position: absolute;
}

.heading-white { /* Sign- up & Contact us */
font-family: 'Open Sans Condensed', sans-serif;
font-weight: bold;
color: white;
font-size: 60px;
position: absolute;
}

/* Transparent Box- Sign-up & Contact-us */
.box{ padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  background-color:rgba(204, 85, 0, 0.75);
  position: absolute;
  top: 40%;
  right: 10%;
  width: 80%;
  height: 90%;
  border: 2px solid white;
}

/* Timetable PDF */
.timetable-intro{
     font-family: 'Open Sans Condensed', sans-serif;
     color: #cc5500;
     font-size: 22px;
}

/* Table */

.table {
    color: #cc5500;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    text-align: left;
}

.table-bordered{
    border: 2px solid #a9a9a9;
}

.days {
    font-weight: bolder;
    font-size: 22px;
    text-align: center;
}

.link{ /* Download PDF */
    color: #cc5500;
    background-color: white;
    border-color: #cc5500;
    font-size: 22px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    position: absolute;
    right: 16px;
    bottom: -30px;
}

.link:hover{ /* Download PDF Hover*/
    color: #cc5500;
    font-weight: bold;
}

/* Personal Trainers*/


#pt-info{
    text-align: left;
    color: #cc5500;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
}

.personal{
    text-align: center;
    color: #cc5500;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
}

#trainer-1{
    height: 250px;
    width: 100%;
}

#trainer-2{
    height: 250px;
    width: 100%;
}

#trainer-3{
    height: 250px;
    width: 100%;
}

#trainer-4{
    height: 250px;
    width: 100%;
}

#trainer-5{
    height: 250px;
    width: 100%;
}

#trainer-6{
    height: 250px;
    width: 100%;
}

/* Become a Trainer */
#become-a-trainer{
    width: 100%;
}

#trainer-title{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 36px;
    font-weight: bold;
}
#trainer-info{
    text-align: left;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
}

/* Sign- Up */

#sign-up-box-text{
    color: white;
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}


/* Contact us */
#contact-us-hero{
    width: 100%;
    height: 100%;
}

#cover-text-2{
    color: white;
    text-align: left;
    font-size: 26px;
    font-family: 'Open Sans Condensed', sans-serif;
}

/* Footer */

.footer {
    width: 100%;
    height: 100px;
    background-color: #cc5500;
    overflow: hidden;
}

.social-media{
    text-align: center;
}

.social-media li{
    display: inline;
}

.social-media i{
    color: white;
    font-size: 250%;
    padding: 2.5%;
}